---
layout: none
permalink: /photo
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="static/images/logo.png">
    <link rel="stylesheet" href="static/css/photo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"></script>
    <script src="static/js/photo.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos | Petr Kisselev</title>
</head>
<body>
    <div id="contentArea">
        <div id="headerArea">
            <div id="headerWrap">
                <div id="header">
                    Photography Highlights
                </div>
            </div>
        </div>

        <div id="backLinkArea">
            <a class="backLink" href="/">← Back to home</a>
        </div>

        <div id="mainArea">
            <div id="imageGrid">
                <div class="gridImgWrap">
                    <img src="static/images/photos/DSCF0131_edited.jpg">
                    <div class="gridImgWrapContent">
                        <h3>Climb</h3>
                        <p></p>
                    </div>
                </div>
                <div class="gridImgWrap">
                    <img src="static/images/photos/BF4BCEA6_edited.jpg">
                    <div class="gridImgWrapContent">
                        <h3></h3>
                        <p>Eventide</p>
                    </div>
                </div>
                <div class="gridImgWrap">
                    <img src="static/images/photos/DSCF0215_edited.jpg">
                    <div class="gridImgWrapContent">
                        <h3>Fog</h3>
                        <p></p>
                    </div>
                </div>
                <div class="gridImgWrap">
                    <img src="static/images/photos/IMG_6614.jpg">
                    <div class="gridImgWrapContent">
                        <h3>Approach</h3>
                        <p></p>
                    </div>
                </div>
                <div class="gridImgWrap">
                    <img src="static/images/photos/DSCF0247_edited.jpg">
                    <div class="gridImgWrapContent">
                        <h3>Winding</h3>
                        <p></p>
                    </div>
                </div>
                <div class="gridImgWrap">
                    <img src="static/images/photos/IMG_4769_edit.jpg">
                    <div class="gridImgWrapContent">
                        <h3>Approach</h3>
                        <p></p>
                    </div>
                </div>
                <div class="gridImgWrap">
                    <img src="static/images/photos/DSCF0448_edited.jpg">
                    <div class="gridImgWrapContent">
                        <h3>Serene</h3>
                        <p></p>
                    </div>
                </div>
                <div class="gridImgWrap">
                    <img src="static/images/photos/DSCF0578.jpg">
                    <div class="gridImgWrapContent">
                        <h3>Austere</h3>
                        <p></p>
                    </div>
                </div>
                <div class="gridImgWrap">
                    <img src="static/images/photos/DSCF0650.jpg">
                    <div class="gridImgWrapContent">
                        <h3>Scale</h3>
                        <p></p>
                    </div>
                </div>
                <div class="gridImgWrap">
                    <img src="static/images/photos/DSCF2528.jpg">
                    <div class="gridImgWrapContent">
                        <h3>Clash</h3>
                        <p></p>
                    </div>
                </div>
                <div class="gridImgWrap">
                    <img src="static/images/photos/IMG_1802.jpg">
                    <div class="gridImgWrapContent">
                        <h3>Night</h3>
                        <p></p>
                    </div>
                </div>
                <div class="gridImgWrap">
                    <img src="static/images/photos/IMG_7394.jpg">
                    <div class="gridImgWrapContent">
                        <h3>Alone</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="lightbox" id="lightbox" onclick="closeLightboxOnBackdrop(event)">
            <button class="lightbox-close" onclick="closeLightbox()">×</button>
            <div class="lightbox-content">
                <div class="lightbox-image-container">
                    <img id="lightbox-img" src="" alt="">
                </div>
                <div class="lightbox-sidebar">
                    <h2 id="lightbox-title">Image Details</h2>
                    <div class="metadata-section" id="exifData">
                        <h3>EXIF Data</h3>
                        <div id="exifContent" class="loading">Loading EXIF data...</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footerArea">
            <div id="footerInnerWrap">
                <div id="creditsFooter">
                    Photography by Petr Kisselev is licensed under
                    <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
                    <img class="licenseIcon" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"/>
                    <img class="licenseIcon" src="https://mirrors.creativecommons.org/presskit/icons/by.svg"/>
                    <img class="licenseIcon" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"/>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    // Force scroll to top on page load
    if (history.scrollRestoration) {
        history.scrollRestoration = 'manual';
    }
    window.scrollTo(0, 0);
</script>
</html>
